<div class="well text-center">
    <h1>About</h1>
    
    Hello! I am Ian Cole of ColeCoding. I have been working in Software for over a decade now and really enjoy tackling new challenges and giving clients a well crafted product.
</div>