<div class="well text-center">
    <h1>ColeCoding</h1>
    <h3>Full Stack Web Development</h3>
    <div id="intro">
        <p>
              Welcome! ColeCoding is passionate about helping clients implement modern Web Applications. Specializing in Ruby/Rails, PHP, and Javascript development with an emphasis on utilizing TDD and clean coding practices. 
        </p>
        
        <p>
              Please feel free to <a href="mailto:ian@colecoding.com">Contact Me</a> with any inquiries you might have!
        </p>
    </div>
</div>