
<h1 class="text-center">Work</h1>
<div class="row">
   <ul class="thumbnails">
     <li class="col-md-4">
       <div class="thumbnail">
          <a href="http://www.cardsfortravel.com" class="thumbnail">
             <img src="/images/cft_screenshot.png" 
             alt="Generic placeholder thumbnail">
          </a>
          <h4>Cards For Travel</h4>
          <p class="text-left">
            Custom theme and plugin development
            <br />
            HTML/CSS implementation of PSD provided by designer
          </p>
       </div>
     </li>
     <li class="col-md-4">
       <div class="thumbnail">
          <a href="http://www.teliax.com" class="thumbnail">
             <img src="/images/ivy_screenshot.png" 
             alt="Generic placeholder thumbnail">
          </a>
          <h4>Teliax VOIP Platform</h4>
          <p class="text-left">
              Designed and implemented full stack RoR reselling VOIP platform
              <br />
              Implemented billing system from scratch
              <br />
              TDD w/ Cucumber & RSpec
          </p>
       </div>
    </li>
    <li class="col-md-4">
       <div class="thumbnail">
          <a href="http://www.yosweetness.com" class="thumbnail">
             <img src="/images/yosweet_screenshot.png" 
             alt="Generic placeholder thumbnail">
          </a>
          <h4>YoSweetness Frozen Yogurt</h4>
          <p class="text-left">
              Custom theme for clients design requirements
          </p>
       </div>
    </li>
  </ul>
</div>